# Data Science Tools and Ecosystem

# "In this notebook, Data Science Tools and Ecosystem are summarized."

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. Pandas
3. Scikit-Learn
4. MatplotLib

In [8]:
import pandas as pd

# Create a list of data science tools
data = {'Data Science Tools': ['Jupyter Notebook', 'RStudio', 'Apache Zeppelin']}

# Create a DataFrame from the data
df = pd.DataFrame(data)

# Display the DataFrame as a table
df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2    Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python:

In [11]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [21]:
min=200
hours=(min/60)
print(hours)
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Objectives:

## List popular languages for Data Science
+ Python
+ R
+ Scala

## Author
#### Ayush Jain